In [67]:
#Question 6 page 613 #One way Anova
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [68]:
df=pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/exer6.csv")
df

    values treatment
0      136         A
1      120         A
2      113         A
3      107         A
4      131         A
5      114         A
6      129         A
7      102         A
8      107         B
9      114         B
10     125         B
11     104         B
12     107         B
13     109         B
14      97         B
15     114         B
16     104         B
17      89         B
18      92         C
19      82         C
20      85         C
21     101         C
22      89         C
23     117         C
24     110         C
25     120         C
26      98         C
27     106         C

In [69]:
#state the hypothesis
#Ho: All means are equal
#Ha: Atleast one mean is different

In [70]:
mod=ols('values~treatment',data=df).fit()    #we have to find mean therefore written first(metric variable) and the categorical variable will come later (eg. values~treatment)

In [71]:
#perform one-way ANOVA
aov_table=sm.stats.anova_lm(mod,type=2)   #type 2 is one way anova (we will alaways use this all ques) , Type 1 is two way anova 
print(aov_table)

             df       sum_sq     mean_sq        F    PR(>F)
treatment   2.0  1617.857143  808.928571  5.84486  0.008269
Residual   25.0  3460.000000  138.400000      NaN       NaN

In [72]:
#Read the important values
Fobs=5.84486
pvalue=0.008269
print(f"F-statistic:{Fobs}")
print(f"pvalue: {pvalue}")

F-statistic:5.84486
pvalue: 0.008269

In [73]:
#Interpret the p-value
alpha = 0.05
if pvalue<alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
    print("Perform Fisher LSD to check which group is different")
else:
    print("Fail to  reject the null hypothesis: There is no signifocant difference between the groups.")

Reject the null hypothesis: There is a significant difference between the groups.
Perform Fisher LSD to check which group is different

In [74]:
#If Anova shows significant results, proceed with post-hoc test
pair_t=mod.t_test_pairwise('treatment')     
pair_t.result_frame

,coef,std err,t,P>|t|,Conf. Int. Low,Conf. Int. Upp.,pvalue-hs,reject-hs
B-A,-12.0,5.580323,-2.150413,0.041385,-23.492889,-0.507111,0.081058,False
C-A,-19.0,5.580323,-3.404821,0.002240,-30.492889,-7.507111,0.006704,True
C-B,-7.0,5.261179,-1.330500,0.195363,-17.835600,3.835600,0.195363,False

In [75]:
#as p<alpha for difference between treatments A&C   (since true, means averages are different) 
#There is signnificant difference between the emans for treatments A&C

In [76]:
#Question 10 page 614 #One way Anova
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [77]:
df=pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/audjudg.csv")
df

    errors       method
0     17.0       Direct
1     18.5       Direct
2     15.8       Direct
3     18.2       Direct
4     20.2       Direct
5     16.0       Direct
6     13.3       Direct
7     16.6     Indirect
8     22.2     Indirect
9     20.5     Indirect
10    18.3     Indirect
11    24.2     Indirect
12    19.8     Indirect
13    21.2     Indirect
14    25.2  Combination
15    24.0  Combination
16    21.5  Combination
17    26.8  Combination
18    27.5  Combination
19    25.8  Combination
20    24.2  Combination

In [78]:
#state the hypothesis
#Ho: All means are equal
#Ha: Atleast one mean is different

In [79]:
mod=ols('errors~method',data=df).fit()

In [80]:
#perform one-way ANOVA
aov_table=sm.stats.anova_lm(mod,type=2)  
print(aov_table)

            df  sum_sq     mean_sq          F    PR(>F)
method     2.0  225.68  112.840000  22.159284  0.000014
Residual  18.0   91.66    5.092222        NaN       NaN

In [81]:
#Read the important values
Fobs=5.84486
pvalue=0.008269
print(f"F-statistic:{Fobs}")
print(f"pvalue: {pvalue}")

F-statistic:5.84486
pvalue: 0.008269

In [82]:
#Interpret the p-value
alpha = 0.05
if pvalue<alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
    print("Perform Fisher LSD to check which group is different")
else:
    print("Fail to  reject the null hypothesis: There is no signifocant difference between the groups.")

Reject the null hypothesis: There is a significant difference between the groups.
Perform Fisher LSD to check which group is different

In [83]:
#If Anova shows significant results, proceed with post-hoc test
pair_t=mod.t_test_pairwise('method')     
pair_t.result_frame

,coef,std err,t,P>|t|,Conf. Int. Low,Conf. Int. Upp.,pvalue-hs,reject-hs
Direct-Combination,-8.0,1.206201,-6.632394,0.000003,-10.534134,-5.465866,0.000010,True
Indirect-Combination,-4.6,1.206201,-3.813627,0.001272,-7.134134,-2.065866,0.002543,True
Indirect-Direct,3.4,1.206201,2.818768,0.011370,0.865866,5.934134,0.011370,True

In [84]:
#as p<alpha for  all methods  (since true, means averages are different) 
#There is signnificant difference between the means for all methods